<div class="container mt-5 ms-2">
  <div class="row">
    <div class="col-md-8">
      <span style="background-color: rgba(226,226,226,0.8); font-size: 1.5em; padding: 0 20px; margin-left: 100px;">マイページ</span>
      <table class="my-3">
        <tr>
      <th>登録情報</th>
        <td style="padding: 20px;"><%=link_to "編集する",information_edit_customers_path(current_customer),class: "btn btn-success" %></td>
      </tr>
      </table>
      <table class="table table-bordered bordered-dark">
        <tr>
          <td class="table-active w-25">氏名</td>
          <td><%=current_customer.family_name%> <%=current_customer.first_name %></td>
        </tr>
        <tr>
          <td class="table-active w-25">カナ</td>
          <td><%=current_customer.family_name_kana %> <%=current_customer.first_name_kana %></td>
         </tr>
         <tr>
          <td class="table-active w-25">郵便番号</td>
          <td><%=current_customer.post_code %></td>
         </tr>
         <tr>
          <td class="table-active w-25">住所</td>
          <td><%=current_customer.address %></td>
         </tr>
         <tr>
          <td class="table-active w-25">電話番号</td>
          <td><%=current_customer.phone_number %></td>
         </tr>
         <tr>
          <td class="table-active w-25">メールアドレス</td>
          <td><%=current_customer.email %></td>
         </tr>
      </table>
      <table class="mt-5">
        <tr>
      <th style="padding-bottom: 10px;">配送先</th>
      <td style="padding: 0 0px 10px 20px"><%=link_to "一覧を見る",addresses_path,class: "btn btn-primary ms-5" %></td>
      </tr>
      <tr>
      <th>注文履歴</th>
      <td style="padding-left: 20px"><%=link_to "一覧を見る",orders_path,class: "btn btn-primary ms-5" %></td>
      </tr>
      </table>
    