<div class="container mt-5">
<div class="row">
<div class="col-md-2">
  </div>
<div class="col-md-10 position-relative">
  <div class="card bg-dark text-white">
    <%=image_tag "nagano_cake.jpg",width: 800, height: 400, class: "card-img",style: "opacity: 0.5" %> 
<div class="card-img-overlay mx-auto">
<p style="font-size:1.2em">ようこそ、ながのCAKEへ!</p>
<p style="font-size:1.2em">このサイトは、ケーキ販売のECサイトになります。</p>
<p style="font-size:1.2em">会員でない方も商品の閲覧はできますが、</p>
<p style="font-size:1.2em">購入には会員登録が必要になります。</p>
</div>
</div>
<h4 class="mt-3">新着商品</h4>
<div class="d-flex">
<% @items.each do |item| %>
  <div class="m-3">
  <%=image_tag item.get_item_image(200,200),style: 'width: 200px; height: 200px; object-fit: cover;' %><br>
  <%=item.name %><br>
  ¥<%=item.price %>
  </div>
  <% end %>
  </div>
  <div class="position-absolute bottom-0 end-0">
  <%=link_to "全ての商品を見る>",items_path %>
  </div>
  </div>
  </div>
  </div>
  
  
  
