<div class="container mt-4">
  <div class="row">
    <span style="background-color: rgba(226,226,226,0.8); font-size: 1.4em; padding: 0 20px; margin-left: 10px;">
      <%= @customer.full_name %>さんの会員情報編集
    </span>
  </div>
  <div class="row">
    <div class="col-md-10">
      <%= form_with model: @customer, url: admin_customer_path(@customer), method: :patch, local: true do |f| %>
        <table class="mt-3 w-75">
          <tr>
            <td class="p-2">会員ID</td>
            <td class="p-2"><%= @customer.id %></td>
          </tr>
          <tr>
            <td class="p-2"><%= f.label :full_name, "氏名" %></td>
            <td class="p-2">
              <%= f.text_field :family_name %>
              <%= f.text_field :first_name %>
            </td>
          </tr>
          <tr>
            <td class="p-2"><%= f.label :full_name_kana, "フリガナ" %></td>
            <td class="p-2">
              <%= f.text_field :family_name_kana %>
              <%= f.text_field :first_name_kana %>
            </td>
          </tr>
          <tr>
            <td class="p-2"><%= f.label :post_code, "郵便番号" %></td>
            <td class="p-2"><%= f.text_field :post_code %></td>
          </tr>
          <tr>
            <td class="p-2"><%= f.label :address, "住所" %></td>
            <td colspan="5" class="p-2"><%= f.text_field :address, class: "w-75" %></td>
          </tr>
          <tr>
            <td class="p-2"><%= f.label :phone_number, "電話番号" %></td>
            <td class="p-2"><%= f.text_field :phone_number %></td>
          </tr>
          <tr>
            <td class="p-2"><%= f.label :email, "メールアドレス" %></td>
            <td class="p-2"><%= f.text_field :email %></td>
          </tr>
          <tr>
            <td class="p-2"><%= f.label :is_active, "会員ステータス" %></td>
            <td class="p-2">
              <%= f.radio_button :is_active, true %>
              <%= f.label :is_active_true, "有効" %>
              <%= f.radio_button :is_active, false %>
              <%= f.label :is_active_false, "退会" %>
            </td>
          </tr>
          <tr>
            <td class="p-2"></td>
            <td class="p-2">
              <%= f.submit "変更を保存", class: "btn btn-success mt-4" %>
            </td>
          </tr>
        </table>
      <% end %>
    </div>
  </div>
</div>