<div>配送先登録/一覧</div>

<%= render 'form', address: @address %>

<table class="table">
  <tr>
    <thead>
      <th>郵便番号</th>
      <th>住所</th>
      <th>宛名</th>
      <th></th>
    </thead>
  </tr>
  <% @addresses.each do |address| %>
    <tr>
      <tbody>
        <td><%= address.post_code %></td>
        <td><%= address.address %></td>
        <td><%= address.name %></td>
        <td><%= link_to "編集する", edit_address_path(address), class: "btn btn-succes" %></td>
        <td><%= link_to "削除する", address_path(address), method: :delete, data: { confirm: "削除しますか？" }, class: "btn btn-danger" %></td>
      </tbody>
    </tr>
  <% end %>
</table>

