<div class="container">
  <div class="row">
    <div class="col-md-9 mt-4">
<span style="background-color: rgba(226,226,226,0.8); font-size: 1.5em; padding: 0 20px; margin-left: 50px;">新規会員登録</span>

<%= form_with(model: resource, url: registration_path(resource_name), local: true) do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>
  <table class="mt-5 w-100">
    <tr>
      <td><%= f.label :full_name,"名前" %></td>
      <td align="right">(姓)</td>
      <td><%= f.text_field :family_name, autofocus: true,placeholder: "令和" %></td>
      <td align="center">(名)</td>
      <td><%=f.text_field :first_name,placeholder: "道子" %></td>
    </tr>

    <tr>
    <td><%= f.label :full_name_kana,"フリガナ" %></td>
    <td align="right">(セイ)</td>
    <td><%= f.text_field :family_name_kana,placeholder: "レイワ" %></td>
    <td align="center">(メイ)</td>
    <td><%=f.text_field :first_name_kana,placeholder: "ミチコ" %></td>
    </tr>

    <tr>
      <td colspan="2"><%= f.label :email,"メールアドレス" %></td>
      <td><%= f.email_field :email, autocomplete: "email",placeholder: "sample@example.com" %></td>
    </tr>

    <tr>
      <td colspan="2"><%= f.label :post_code,"郵便番号(ハイフンなし)" %></td>
      <td><%= f.text_field :post_code, placeholder: "0000000" %></td>
    </tr>
    
    <tr>
      <td colspan="2"><%= f.label :address,"住所" %></td>
      <td colspan="5"><%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町0-0",style: "width: 87%;" %></td>
    </tr>


    <tr>
      <td colspan="2"><%= f.label :phone_number,"電話番号(ハイフンなし)" %></td>
      <td><%= f.text_field :phone_number, placeholder: "0000000000" %></td>
    </tr>


    <tr>
      <td colspan="2"><%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> 文字以上)</em>
      <% end %></td>
      <td><%= f.password_field :password, autocomplete: "new-password" %></td>
    </tr>

    <tr>
      <td colspan="2"><%= f.label :password_confirmation %></td>
      <td><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
    </tr>
    <tr>
      <td colspan="2"></td>
      <td><%= f.submit "新規登録",class: "btn btn-success w-50 my-3" %></td>
    </tr>
  </table>
<% end %>
<%= render "public/shared/links" %>
</div>
</div>
</div>
