<div class="container mt-3">
<div class="row">
 <div class="col-md-2">
 </div>
  <div class="col-md-10">
    <h2>商品一覧(全<%=@items.count %>件)</h2>
    <div class="item_collection d-flex flex-wrap">
    <% @items.each do |item| %>
    <div class="m-2">
    <%=image_tag item.get_item_image(200,200),style: 'width: 200px; height: 200px; object-fit: cover;' %><br>
    <%=item.name %><br>
    ¥<%=item.price %>
    </div>
    <% end %>
    </div>
  <%= paginate @items %>
  </div>
</div>
</div>