<div class="container">
  <div class="row">
    <div class="col">
      <%= image_tag @item.get_item_image(200,200) %>
    </div>
    <div class = "col">
      <%= @item.name %>
      <%= @item.description %>
      ¥<%= number_with_delimiter(@item.add_tax_price) %>(税込) <%= @item.is_active? ? '販売中' : '販売停止中' %>
      <div>
        <%= form_with model: @cart_item, url: cart_items_path, method: :post, local: true do |f| %>
          <%= f.hidden_field :item_id, value: @item.id %>
          <%= f.select :amount, *[1..10], prompt: "個数選択"%>
          <%= f.submit 'カートに入れる', class: "btn btn-success" %>
        <% end %>
      </div>
    </div>
  </div>
</div>